* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  width: 100%;
  background-color: #0a3641;
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  margin-bottom: 1em;
}
header img {
  margin: 0.5em 0;
  height: 3em;
}
footer {
  border-top: 5px solid #ff7f36;
  background-color: #0a3641;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4em;
}
footer nav {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
}
nav a {
  margin: 0.1em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-decoration: none;
}
nav p {
  font-size: 1rem;
  font-weight: bold;
  margin: auto;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

#activePage {
  color: #ff7f36;
  text-decoration: underline;
}
nav img {
  width: 1.8em;
  margin: 0.4em auto;
}
#cartItems {
  position: absolute;
  right: 0;
  top: 0;
}
#cartItems p {
  color: #ff7f36;
}
@media screen and (min-width: 1025px) {
  main {
    max-width: 1024px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto;
  }
  footer {
    width: 100%;
    justify-content: center;
    align-content: center;
  }
  nav {
    margin: auto;
    max-width: 1024px;
  }
}
